# ADS-508 Project Notebook

In [1]:
import boto3
import sagemaker
import csv
import pandas as pd

sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()
bucket = sagemaker_session.default_bucket()
region = boto3.Session().region_name

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

## Import
### Importing Data from S3 Bucket

In [20]:
!aws s3 cp --recursive s3://aurelia-resort-data/ ./data/

download: s3://aurelia-resort-data/airbnb/neighbourhoods.csv to data/airbnb/neighbourhoods.csv
download: s3://aurelia-resort-data/income/disp_income.csv to data/income/disp_income.csv
download: s3://aurelia-resort-data/travel/airline_data2.csv to data/travel/airline_data2.csv
download: s3://aurelia-resort-data/airbnb/listings.csv to data/airbnb/listings.csv
download: s3://aurelia-resort-data/travel/trip_data.csv to data/travel/trip_data.csv
download: s3://aurelia-resort-data/travel/airline_data.csv to data/travel/airline_data.csv
download: s3://aurelia-resort-data/travel/airline_data3.csv to data/travel/airline_data3.csv
download: s3://aurelia-resort-data/airbnb/reviews.csv to data/airbnb/reviews.csv

### Ingesting Data via Pandas

In [21]:
airbnb_neigh = pd.read_csv("./data/airbnb/neighbourhoods.csv")
airbnb_reviews = pd.read_csv("./data/airbnb/reviews.csv")
airline = pd.read_csv("./data/travel/airline_data3.csv")
#tripsurvey = pd.read_csv("./data/travel/trip_data.csv")

#Kernel sometimes dies here, maybe due to size of tripsurvey. Just rerun.

## EDA
### Data Shapes

In [22]:
airline.shape

(248522, 36)

In [23]:
tripsurvey.shape

(4018052, 22)

### Data Previews

In [34]:
airline.head(5)

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS
46136,1.0,0.0,0.0,0.0,OH,20397,PSA Airlines Inc.,07028,D,OH,...,"Washington, DC",VA,51,Virginia,38,2022,2,6,1,F
46390,1.0,0.0,0.0,24.0,OH,20397,PSA Airlines Inc.,07028,D,OH,...,"Washington, DC",VA,51,Virginia,38,2022,1,3,1,F
46391,1.0,0.0,0.0,24.0,OH,20397,PSA Airlines Inc.,07028,D,OH,...,"Washington, DC",VA,51,Virginia,38,2022,4,12,1,F
47086,1.0,0.0,0.0,94.0,OH,20397,PSA Airlines Inc.,07028,D,OH,...,"Washington, DC",VA,51,Virginia,38,2022,2,6,1,F
47412,1.0,0.0,0.0,142.0,AA,19805,American Airlines Inc.,0A050,D,AA,...,"Washington, DC",VA,51,Virginia,38,2022,2,5,1,F

In [11]:
tripsurvey.head(5)

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1

In [12]:
airbnb_neigh.head(5)

   neighbourhood_group                                    neighbourhood
0                  NaN             Brightwood Park, Crestwood, Petworth
1                  NaN                    Brookland, Brentwood, Langdon
2                  NaN                       Capitol Hill, Lincoln Park
3                  NaN  Capitol View, Marshall Heights, Benning Heights
4                  NaN   Cathedral Heights, McLean Gardens, Glover Park

In [13]:
airbnb_reviews.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3686,131293,2010-11-01,257234,Callie,Staying with Levita and her wonderful family w...
1,3686,150766,2010-12-08,255888,Patrick,"Vita is a very welcoming, helpful and friendly..."
2,3686,177749,2011-02-02,366688,Benjamin,"This was my first time using ""airbnb"" and it m..."
3,3686,197451,2011-03-12,213492,T.J.,"First, Vita saved my work week by providing me..."
4,3686,213212,2011-03-30,428455,Pete,Great host! Very welcoming and organised. I st...

## Relevant Data Filtering

#### Airline

In [32]:
## Filter data to where DC is destination city

airline = airline[airline["DEST_CITY_NAME"].str.contains("DC")]

## Filter data to where passengers > 0

airline = airline[airline["PASSENGERS"]>0]

In [33]:
airline.shape

(5236, 36)

In [31]:
248522 - 5236 # rows removed

242976

In [29]:
airline.columns

Index(['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'UNIQUE_CARRIER_ENTITY', 'REGION',
       'CARRIER', 'CARRIER_NAME', 'CARRIER_GROUP', 'CARRIER_GROUP_NEW',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC',
       'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS'],
      dtype='object')

In [ ]:
# Remove irrelvant columns

df.drop(['FREIGHT', 'MAIL', ], axis=1)

### Summary Statistics

In [10]:
airline.describe()

       Activity Period  Passenger Count
count     50730.000000     50730.000000
mean     201390.461640     28489.836073
std         495.261863     60100.148363
min      200507.000000         1.000000
25%      201001.000000      4553.000000
50%      201408.000000      8645.500000
75%      201807.000000     19508.500000
max      202212.000000    659837.000000

In [11]:
tripsurvey.describe()

,State FIPS,County FIPS,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Week,Month
count,4.016794e+06,3.952636e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,3.985105e+06,4.018052e+06,4.018052e+06
mean,3.025900e+01,3.038365e+04,6.833871e+04,2.418878e+05,1.147674e+06,2.967885e+05,2.826964e+05,1.390903e+05,1.759088e+05,1.696797e+05,5.469910e+04,1.821549e+04,7.659008e+03,1.649222e+03,1.286976e+03,2.424960e+01,6.096184e+00
std,1.515153e+01,1.516010e+04,1.336336e+06,4.625886e+06,2.244948e+07,5.844233e+06,5.531007e+06,2.721950e+06,3.447392e+06,3.331007e+06,1.066654e+06,3.543133e+05,1.511182e+05,3.256915e+04,2.853016e+04,1.503604e+01,3.450463e+00
min,1.000000e+00,1.001000e+03,8.000000e+00,8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.800000e+01,1.817700e+04,2.058000e+03,9.281000e+03,4.236800e+04,8.862000e+03,9.369000e+03,4.127000e+03,5.705000e+03,6.775000e+03,3.371000e+03,1.230000e+03,4.100000e+02,5.600000e+01,1.500000e+01,1.100000e+01,3.000000e+00
50%,2.900000e+01,2.917600e+04,4.933000e+03,2.190800e+04,1.020590e+05,2.233100e+04,2.485300e+04,1.162800e+04,1.448100e+04,1.615200e+04,7.181000e+03,2.674000e+03,9.400000e+02,1.560000e+02,5.200000e+01,2.300000e+01,6.000000e+00
75%,4.500000e+01,4.508100e+04,1.462800e+04,5.994400e+04,2.825560e+05,6.528800e+04,7.170900e+04,3.474800e+04,4.215600e+04,4.283000e+04,1.669800e+04,6.022000e+03,2.300000e+03,4.320000e+02,2.020000e+02,3.700000e+01,9.000000e+00
max,5.600000e+01,5.604500e+04,1.102118e+08,2.737400e+08,1.569053e+09,4.615925e+08,4.051305e+08,1.980184e+08,2.526118e+08,2.565096e+08,7.636732e+07,2.873561e+07,1.447698e+07,3.651375e+06,5.003062e+06,5.200000e+01,1.200000e+01

### Data Types and Info

In [12]:
airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50730 entries, 0 to 50729
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              50730 non-null  int64
 1   Operating Airline            50730 non-null  object
 2   Operating Airline IATA Code  50427 non-null  object
 3   Published Airline            50730 non-null  object
 4   Published Airline IATA Code  50427 non-null  object
 5   GEO Summary                  50730 non-null  object
 6   GEO Region                   50730 non-null  object
 7   Activity Type Code           50730 non-null  object
 8   Price Category Code          50730 non-null  object
 9   Terminal                     50730 non-null  object
 10  Boarding Area                50730 non-null  object
 11  Passenger Count              50730 non-null  int64
dtypes: int64(2), object(10)
memory usage: 4.6+ MB

In [13]:
tripsurvey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018052 entries, 0 to 4018051
Data columns (total 22 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Level                           object
 1   Date                            object
 2   State FIPS                      float64
 3   State Postal Code               object
 4   County FIPS                     float64
 5   County Name                     object
 6   Population Staying at Home      float64
 7   Population Not Staying at Home  float64
 8   Number of Trips                 float64
 9   Number of Trips <1              float64
 10  Number of Trips 1-3             float64
 11  Number of Trips 3-5             float64
 12  Number of Trips 5-10            float64
 13  Number of Trips 10-25           float64
 14  Number of Trips 25-50           float64
 15  Number of Trips 50-100          float64
 16  Number of Trips 100-250         float64
 17  Number of Trips 250-500         float64
 18  Number of Trips >=500           float64
 19  Row ID                          object
 20  Week                            int64
 21  Month                           int64
dtypes: float64(15), int64(2), object(5)
memory usage: 674.4+ MB

### Missing Data

In [14]:
print(f'\nMissing Data:\n{airline.isnull().sum()}')

print('\nTotal Missing Data:', airline.isnull().sum().sum())

Missing Data:
Activity Period                  0
Operating Airline                0
Operating Airline IATA Code    303
Published Airline                0
Published Airline IATA Code    303
GEO Summary                      0
GEO Region                       0
Activity Type Code               0
Price Category Code              0
Terminal                         0
Boarding Area                    0
Passenger Count                  0
dtype: int64

Total Missing Data: 606

In [15]:
print(f'\nMissing Data:\n{tripsurvey.isnull().sum()}')

print('\nTotal Missing Data:', tripsurvey.isnull().sum().sum())

Missing Data:
Level                                 0
Date                                  0
State FIPS                         1258
State Postal Code                  1258
County FIPS                       65416
County Name                       65416
Population Staying at Home        32947
Population Not Staying at Home    32947
Number of Trips                   32947
Number of Trips <1                32947
Number of Trips 1-3               32947
Number of Trips 3-5               32947
Number of Trips 5-10              32947
Number of Trips 10-25             32947
Number of Trips 25-50             32947
Number of Trips 50-100            32947
Number of Trips 100-250           32947
Number of Trips 250-500           32947
Number of Trips >=500             32947
Row ID                                0
Week                                  0
Month                                 0
dtype: int64

Total Missing Data: 561659

## Release Resources

In [ ]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>

In [ ]:
%%javascript

try {
    Jupyter.notebook.save_checkpoint();
    Jupyter.notebook.session.delete();
}
catch(err) {
    // NoOp
}