# Merges Cleaned Dataframes

In [14]:
import boto3
import sagemaker
import csv
import pandas as pd

sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()
bucket = sagemaker_session.default_bucket()
region = boto3.Session().region_name

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

## Get stored cleaned dataframes

In [15]:
%store -r
%who

bookings_grouped	 boto3	 bucket	 csv	 listings_clean	 listings_date	 pd	 region	 reviews_clean
reviews_date	 role	 sagemaker	 sagemaker_session	 setup_dependencies_passed	 setup_iam_roles_passed	 setup_instance_check_passed	 setup_s3_bucket_passed	 sm
travelstats

In [22]:
reviews_date.head(5)

        Date  num_stays
0 2009-05-10          1
1 2009-05-28          1
2 2009-06-04          1
3 2009-06-30          1
4 2009-08-08          1

In [8]:
travelstats.head(5)

,Date,TotalAirlineTripstoDC,TotalAirlinePassengerstoDC,TotalAmericanTravelers,PercentofAmericanswhoTraveled,TotalTripsbyAmericans
0,2019-01-01,435,1326271.0,2.652241e+08,81.442421,1.137042e+09
1,2019-02-01,385,1261292.0,2.662408e+08,81.774326,1.148667e+09
2,2019-03-01,422,1668002.0,2.650919e+08,81.799085,1.306565e+09
3,2019-04-01,427,1681832.0,2.640626e+08,81.354347,1.446882e+09
4,2019-05-01,439,1766148.0,2.661340e+08,81.884670,1.415057e+09

In [9]:
bookings_grouped.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,market_segment_Offline TA/TO,market_segment_Online TA,market_segment_Undefined,meal_BB,meal_FB,meal_HB,meal_SC,meal_Undefined,total_bookings,cancellations
date,,,,,,,,,,,,,,,,,,,,,
2014-10-17,318,318,318,318,318,318,318,318,318,318,...,318,318,318,318,318,318,318,318,318,318
2014-11-18,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2015-01-01,1285,1285,1285,1285,1285,1285,1285,1285,1285,1285,...,1285,1285,1285,1285,1285,1285,1285,1285,1285,1285
2015-01-02,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
2015-01-18,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [10]:
income_grouped.head(5)

NameError: name 'income_grouped' is not defined

## Merge stored cleaned dataframes

In [23]:
merge1 = pd.merge(travelstats, reviews_date, on='Date')
merge1 = merge1.rename(columns={"numstays": "DCAirBnbStays"})
merge1
#merge2 = pd.merge(merge1, bookings_grouped, left_on ='Date', right_on = 'date')
#merge2
#finaldf = pd.merge(merge1, merge2, on = 'Date')

#finaldf.head()

#%store finaldf

,Date,TotalAirlineTripstoDC,TotalAirlinePassengerstoDC,TotalAmericanTravelers,PercentofAmericanswhoTraveled,TotalTripsbyAmericans,num_stays
0,2019-01-01,435,1326271.0,2.652241e+08,81.442421,1.137042e+09,252
1,2019-02-01,385,1261292.0,2.662408e+08,81.774326,1.148667e+09,73
2,2019-03-01,422,1668002.0,2.650919e+08,81.799085,1.306565e+09,93
3,2019-04-01,427,1681832.0,2.640626e+08,81.354347,1.446882e+09,168
4,2019-05-01,439,1766148.0,2.661340e+08,81.884670,1.415057e+09,142
5,2019-06-01,437,1714927.0,2.652186e+08,81.553510,1.420058e+09,158
6,2019-07-01,390,1724335.0,2.646889e+08,80.595024,1.431367e+09,134
7,2019-08-01,412,1697740.0,2.681059e+08,81.677992,1.455277e+09,127
8,2019-09-01,413,1546962.0,2.651361e+08,81.275872,1.476232e+09,235
9,2019-10-01,463,1708967.0,2.634100e+08,80.296359,1.379214e+09,121
10,2019-11-01,439,1570090.0,2.629694e+08,80.412041,1.306835e+09,128
11,2019-12-01,474,1582968.0,2.617333e+08,79.911730,1.291912e+09,269
12,2021-01-01,294,377745.0,2.425836e+08,78.100578,9.882319e+08,99
13,2021-02-01,249,336865.0,2.492451e+08,79.529894,1.130584e+09,71
14,2021-03-01,313,574976.0,2.583659e+08,82.549865,1.267733e+09,75
15,2021-04-01,373,801552.0,2.619441e+08,83.048445,1.280753e+09,130
16,2021-05-01,381,968158.0,2.628961e+08,82.854307,1.143836e+09,104
17,2021-06-01,414,1114375.0,2.631210e+08,82.996623,1.140707e+09,143
18,2021-07-01,387,1324860.0,2.600089e+08,82.013248,1.231843e+09,156
19,2021-08-01,401,1397805.0,2.603416e+08,81.851829,1.174912e+09,367
20,2021-09-01,446,1171253.0,2.613255e+08,81.973843,1.135523e+09,102
21,2021-10-01,487,1354033.0,2.602287e+08,81.601537,1.218701e+09,167
22,2021-11-01,472,1444907.0,2.596234e+08,81.463831,1.301882e+09,222
23,2021-12-01,485,1395610.0,2.594757e+08,82.110686,1.298152e+09,91
24,2022-01-01,904,1893198.0,2.595847e+08,82.004716,1.243775e+09,261
25,2022-02-01,830,2139952.0,2.601098e+08,82.156684,1.210049e+09,62
26,2022-03-01,896,3059442.0,2.621167e+08,81.897555,1.218480e+09,111
27,2022-04-01,858,3272280.0,2.614628e+08,81.906942,1.279973e+09,291
28,2022-05-01,902,3415990.0,2.610540e+08,82.059921,1.305916e+09,469
29,2022-06-01,938,3298350.0,2.601869e+08,81.819188,1.236950e+09,173

## Train, test, split

In [ ]:
test_size = 6

traindf = finaldf[:-test_size]
testdf = finaldf[-test_size:]

%store traindf
%store testdf